{% extends "empbase.html" %}

{% block title %}
    Home
{% endblock title %}


{% block content %}

<div style="display: flex;
flex-wrap: wrap;
justify-content: center;">
  <div style="width: 70%;margin-top: 10px;">

    <div class="row" style="padding-right: 20px;padding-left: 20px;padding-top: 20px;" >
      
      <form action="{{ url_for('updateCustomer',cid=customer.cust_id) }}" method="POST">
        <button type="submit"  id="add" class="d-flex justify-content-start btn" style="padding-top: 10px;
        height: 50px;
        background-color: #3274d6;
        border: 0;
        border-color:#3274d6 ;
        cursor: pointer;
        font-weight: bold;
        color: #ffffff;
       ">Update customer </button>
      </form>
       
       <div class="d-flex justify-content-end col">
        <input style=" display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;width: 310px;
        height: 50px;
        border: 1px solid #dee0e4;
        margin-bottom: 20px;
        padding: 0 15px;" type="text" val id="del_name" placeholder="Type below Customer Name to remove" id="search" required>
        <input style="display:none;" id="cust_name" type="text" value="{{customer['cust_name']}}"/>
    

     
      <button id="delete" data-href="{{ url_for('deleteCustomer',cid=customer.cust_id) }}" style="    display: flex;
      border: 0;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #3274d6;
      color: #ffffff;" for="password">
        <i class="fas fa-trash"></i>
      </button>
    </div>
      
 
  </div>
</div>

<div class="register container" style="width:70%;padding: 10px; margin-top: 30px;">
    <h1>Customer details</h1>

    <div style="margin-top: 40px;margin-left: 30px; margin-right: 30px;">
        <div class="row" >
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">SSN ID  </div>
                    <div>
                    <input disabled type="number" name="ssn_id" placeholder="{{customer['ssn_id']}}"  style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Address Line 1  </div>
                    <div>
                    <input disabled type="number" name="ssn_id" placeholder="{{customer['address_1']}}"  style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Customer name </div>
                    <div>
                    <input disabled type="number" name="ssn_id" placeholder="{{customer['cust_name']}}"  style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Address Line 2 </div>
                    <div>
                    <input disabled type="number" name="ssn_id" placeholder="{{customer['address_2']}}"  style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Password  </div>
                    <div>
                    <input disabled type="number" name="ssn_id" placeholder="{{customer['cust_pass']}}"  style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">City </div>
                    <div>
                    <input disabled type="number" name="ssn_id" placeholder="{{customer['city']}}"  style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">Age </div>
                    <div>
                    <input disabled type="number" name="ssn_id" placeholder="{{customer['age']}}"  style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4" style="height: 50px;align-self: center;">State </div>
                    <div>
                    <input disabled type="number" name="ssn_id" placeholder="{{customer['state']}}"  style=" width: 310px;
                        height: 50px;
                        border: 1px solid #dee0e4;
                        margin-bottom: 20px;
                        padding: 0 15px;" required>
                    </div>
                    </div>
         
            </div>
        </div>
        
    

    </div>
        
        
        

    
</div>



{% endblock content %}


{% block scripts %}
<script>
    $("#customers").css("color", "#ffffff");




    $("#delete").click(function(){
        console.log($("#cust_name").val(),$("#del_name").val());
        
        if($("#cust_name").val()===$("#del_name").val()){

            window.location = $(this).data("href");

        }
        else{
            $("#del_name").val('')
        }
    })
    


</script>
{% endblock scripts %}